*{
    margin:0px;
    padding:0px;
}

.calculator {
    border:1px solid black;
    border-radius: 5px;
    height:352px;
    width:226px;
    margin:5px;
    padding:5px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.button {
    width:57px;
    height:57px;
    font-size:25px;
    margin:-1px;
    cursor: pointer;
    background-color: aliceblue;
}

.button:hover {
    background-color:gray;
    color:white;
}
.result {
    Width:224px;
    height:40px;
    margin:0px 2px 0px 2px;
    font-size:20px;
    text-align:right;
    border:1px solid gray ;
    border-top: white;
    background:gray;
    color:white;
}
.expression {
    Width:224px;
    height:25px;
    margin:2px 2px 0px 2px;
    font-size:15px;
    text-align:right;
    border:1px solid gray ;
    border-bottom: white;
    background:gray;
    color:white;
}
.calculator_container {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border:1px solid black;
    padding:-3px;
    width:230px;
    background:white;
}
